  * {
        margin: 0;
        padding: 0;
        font-family: "Sofia Pro", sans-serif;
        box-sizing: border-box;
    }

        :root {
        --bg-color: #234C63;
        --text: #fff;
    }

    .container {
        max-width: 1460px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    /* Top Bar Section Start */
    .main {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        background-color: var(--bg-color);
        text-align: center;
        color: var(--text);
        font-weight: 500;
        padding: 13px 0px;
    }

    .in1 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }


    /* Header Section Start */

    .header {
        max-width: 1460px;
        padding: 0 15px;
        background-color: #ffffff;
        border-bottom: 1px solid #eaeaea;

    }

    .menus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        padding: 15px 0;
    }

    .menu-toggle {
        display: none;
    }

    .logo {
        max-width: 189px;
        height: auto;
    }

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;
        padding: 10px 0;
        margin: 0 5px;
    }

    .menu a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #232831;
        padding: 10px 0;
    }

    a.head-btn {
        display: none;
        margin-top: 20px;
        padding: 15px 20px;
        background: #389956;
        font-size: 18px;
        border-radius: 7px;
        color: #FFF;
        font-weight: 700;
        line-height: 18px;
    }


    .menu a:hover {
        color: #379956;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }


    /* Arrow smooth animation */
    .dropbtn i {
        transition: transform 0.3s ease;
    }

    /* Rotate arrow on hover (desktop) */
    .dropdown:hover .dropbtn i {
        transform: rotate(180deg);
    }

    /* Rotate arrow on active (mobile click) */
    .dropdown.active .dropbtn i .dropdown:hover {
        transform: rotate(180deg);
    }

    .dropdown:hover .dropbtn,
    .dropdown:hover .dropbtn i {
        color: #379956;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropbtn :hover {
        color: #16a34a;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding: 10px 20px;
    }

    /* blog  */
    .layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }

    .main-post {
        width: 972px;
    }

    .left {
        width: 100%;
        max-width: 972px;
    }

    .main-blogs {
        padding: 75px 0;
        margin: 0 20px;
    }

    .main-post h1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 20px;
    }

    .head1 {
        display: flex;
    }

    .li1 {
        text-decoration: none;
        color: #232831;
    }

    .head2 {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 10px;
        list-style-type: none;
    }

    .blogs-image {
        margin-bottom: 30px !important;
        width: 100%;
        max-width: 972px;
        max-height: 821px;
        border-radius: 15px;
        border: 1px solid #234C6380;
    }

    .blogs1-p {
        margin-bottom: 15px;
    }

    span {
        font-weight: 400;
        font-size: 16px;
    }

    .lists12 {
        margin: 16px 0;
        padding: 0 0 0 40px;
    }

    .li12 {
        margin-bottom: 10px;
    }

    .claim {
        color: #239956;
    }

    .claim:hover {
        color: #234C63;
    }

    .h2-main {
        margin: 24.9px 0;
    }

    .h2-span {
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    .h3-main {
        margin: 50px 0 15px 0;
    }

    .h3-span {
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;
    }

    .h4-main {
        margin: 23.94px 0;
    }

    .h4-span {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.6px;
    }

    .main-a{
        color: #379956;
    }
    .main-a:hover{
        color: #234C63;
    }

    /* right side */
    .rightcol {
        padding-top: 45px;
        padding-bottom: 49px;
        padding-left: 32px;
        padding-right: 33px;
    }

    .callbox {
        border-radius: 15px;
        background: #234C63;
        max-width: 378px;
        max-height: 674px;

    }

    .Shopifyh1 {
        font-size: 26px;
        font-weight: 500;
        line-height: 42px;
        color: #FFF;
        text-align: center;
        margin-bottom: 33px;
    }

    .formtext {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        background: #EEE;
        border-radius: 7px;
        border: none;
        padding: 5px 14px;
        width: 100%;
    }

    .audit-form {
        display: flex;
        flex-direction: column;
    }


    .callbtn {
        padding: 20px 36px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 7px;
        background: #379956;
        color: #FFF;
        border: none;
    }

    .callbtn:hover {
        background: #2C7B45;
    }


    .image-profile {
        max-width: 108px;
        margin-top: -70px;
    }


    .hr-profile {
        margin-top: 73px;
        margin-bottom: 30px;
        padding-top: 28px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 31px;
       border: 1px solid #E2E2E2;
    border-radius: 15px;
    }

    .image-content {
        display: flex;
        justify-content: space-between;
    }

    .contentp {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        color: #234C63;
        margin-bottom: 15px;
    }
    .buttonmain {
    display: flex;
    justify-content: center;
}

.contentbtn {
    text-decoration: none;
    padding: 20px 36px;
    background: #379956;
    color: #FFF;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.blogs{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}


.most-famous {
    border: 1px solid #E2E2E2;
    border-radius: 15px;
    padding-top: 31px;
    padding-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
}

.blogh2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    
}

.blogsa{
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    color: #232831;
 
}

.h3blog{
        padding-left: 15px;
    padding-bottom: 24px;
        position: relative;
           border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E2E2E2;

}

.h3blog6{
        padding-left: 15px;
    padding-bottom: 24px;

}
.mainbl::before{
 content: "•";
    position: absolute;
    font-size: 24px;
}
/* footer  */

    .footer {
        padding: 75px 0px 22px;
        background: #ffffff;
    }

    .footer-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    /* Footer Logo */
    .footer-logo {
        max-width: 189px;
        height: auto;
    }

    /* About Text */
    .footer-about p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #234C63;
        padding-top: 20px;
        padding-right: 15px;
    }

    /* Footer Titles */
    .footer h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 25px;
        color: #0c0d0e;
    }

    /* Lists Reset */
    .footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* Quick Links */
    .footer-links ul li {
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .footer ul li a {
        text-decoration: none;
        color: #234C63;
        font-size: 14px;
    }

    .footer ul li a:hover {
        color: #16a34a;
    }

    /* ================= SOCIAL MEDIA ================= */

    .footer-social ul li {
        margin-top: 12.5px;
        padding-bottom: 12.5px;
    }

    .footer-social ul li a {
        display: flex;
        align-items: center;
        line-height: 22px;
    }

    /* SVG icons */
    .footer-social .social-icon {
        width: 20px;
        height: 20px;
        fill: #234C63;
        margin-top: 3px;
    }

    /* ================= CONTACT ================= */

    .footer-contact p {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        color: #234C63;
        display: flex;
        flex-direction: column;
    }

    .footer-contact a {
        color: #234C63;
        text-decoration: none;
    }

    .footer-contact a:hover {
        color: #16a34a;
    }

    /* Contact Row */
    .footer-contact .contact-row {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 16px;
    }

    /* Contact Icons */
    .footer-contact .contact-row img {
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }

    /* ================= FOOTER BOTTOM ================= */

    .footer-bottom {
        margin-top: 20px;
        padding: 20px 0;
        text-align: center;
        border-top: 1.5px solid #ddd;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #234C63;
    }



    .open-btn {
        padding: 12px 30px;
        background: #2f7d4f;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
        cursor: pointer;
    }




/* responsive css */

@media (max-width: 1024px) {
       .menu {
            gap: 24px;
        }

        .dropdown-content {
            position: absolute;
            max-height: none;
            display: none;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }



}
@media (max-width: 425px){
    
     .main {
            width: 100%;
            font-size: 10px;
        }

        p.inner {
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            color: #ffffff;
        }

        /* Header layout */
        .menus {
            position: relative;
            justify-content: center;
        }

        a.head-btn {
            display: block;
        }


        a.head-btn:hover {
            background: #234C63;
        }

        .menu-toggle {
            position: absolute;
            left: 0;
            font-size: 26px;
            cursor: pointer;
            display: block;
        }

        .logo {
            margin: 0 auto;
            display: block;
            width: 140px;
            padding: 15px 0;
        }

        .menu {
            position: absolute;
            top: 0px;
            width: 425px;
            background: #fff;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 30px;
            display: none;
            border-top: 1px solid #eaeaea;
            transition: max-height 0.5s ease, padding 0.3s ease;
        }

        .menu.active {
            display: flex;
            align-items: baseline;
            top: 100%;
            padding: 30px;
            flex-direction: column;
            margin: 0;
        }

        .header {
            position: relative;
        }


.main-post {
    max-width: 425px;
}
.main-post h1 {
font-size: 24px;
    line-height: 34px;
}

.main-blogs {
    padding: 50px 0;
    margin: 0;
}

.footer-1{
        grid-template-columns: 1fr;
}
}